td,
th {
    border: 1px solid lightgrey;
}

.pt-zero {
    padding-top: 0px !important;
}

.kulmiInput {
    margin-top: 10px !important;
    height: 40px;
}

.kulmiTable {
    text-align: center;
}

@media screen and (max-width: 540px) {
    .kulmiTab {
        height: 30px !important;
    }

    .kulmiTable {
        width: inherit;
        min-width: 300px;
    }

    .landingList {
        max-height: 150px;
    }
}

@media screen and (min-width: 540px) {
    .landingList {
        max-height: 300px;
    }
}

@media screen and (min-width: 960px) {
    .landingList {
        max-height: 450px;
    }
}

.v-text-field .v-input__control .v-input__slot {
    min-height: auto !important;
    display: flex !important;
    align-items: center !important;
    height: 40px;
}

.marked {
    background-color: lightgreen;
}

.textStart {
    text-align: start;
}
