.pt-zero {
    padding-top: 0px !important;
}

.kulmiInput {
    height: 40px;
}

.kulmiTable {
    text-align: center;
    border-color: lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

@media screen and (max-width: 540px) {
    .kulmiTab {
        height: 30px !important;
    }

    .kulmiTable {
        width: inherit;
        min-width: 300px;
    }

    .landingList {
        max-height: 200px;
    }
}

@media screen and (min-width: 540px) {
    .landingList {
        max-height: 300px;
    }
}

@media screen and (min-width: 960px) {
    .landingList {
        max-height: 450px;
    }
}

.v-text-field .v-input__control .v-input__slot {
    min-height: auto !important;
    display: flex !important;
    align-items: center !important;
    height: 40px;
}

.marked {
    background-color: lightgreen;
    color: black;
}

.textStart {
    text-align: start;
}

#canvas {
    position: absolute;
    display: block;
    image-rendering: pixelated;
    z-index: -1;
}
